<<<<<<< HEAD:app/views/store/add_to_cart.html.erb
<div class="cart-title">Your Cart</div>
<table>
<% for cart_item in @cart.items %>
<tr>
<td><%= cart_item.quantity %>&times;</td>
<td><%= h(cart_item.title) %></td>
<td class="item-price"><%= number_to_currency(cart_item.price) %></td>
</tr>
<% end %>
<tr class="total-line">
<td colspan="2">Total</td>
<td class="total-cell"><%= number_to_currency(@cart.total_price) %></td>
</tr>
</table>
<%= button_to "Empty cart" , :action => :empty_cart %>
=======
<h2>Your Pragmatic Cart</h2>
<ul>
 <% for item in @cart.items %>
  <li> <%= h item.title %> </li>
  <% end %>
</ul>
>>>>>>> ae6580a44fcb0054da3a08d9e30bbc21f0ba4255:app/views/store/add_to_cart.html.erb
