<div class="depot-form">
  <%= error_messages_for 'order' %>
  <% form_for :order, :url=>{:action => :save_order} do |form| %>
  <fieldset>
    <legend>Please enter a paytment method</legend>
    <p>
      <%= label :order, :pay_type, "Pay with:" %>
      <%= form.select :pay_type, Order::PAYMENT_TYPES,
                      :prompt=>"Select a payment method" %>
    </p>
    <%= hidden_field_tag 'order[user]', session[:user_id] %>
    <%= submit_tag "Place Order", :class=>"submit" %>
  </fieldset>
  <% end %>
</div>